@font-face {
  font-family: Tobias;
  font-style: normal;
  font-weight: 300;
  src: local(""), url(assets/fonts/Tobias-Light.ttf) format("truetype");
}

@font-face {
  font-family: Tobias;
  font-style: italic;
  font-weight: 300;
  src: local(""), url(assets/fonts/Tobias-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: Tobias;
  font-style: normal;
  font-weight: 400;
  src: local(""), url(assets/fonts/Tobias-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Tobias;
  font-style: normal;
  font-weight: 500;
  src: local(""), url(assets/fonts/Tobias-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Neue Haas Grotesk;
  font-style: normal;
  font-weight: 200;
  src: local(""), url(assets/fonts/NeueHaasGroteskDisplayPro-35ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: Neue Haas Grotesk;
  font-style: normal;
  font-weight: 400;
  src: local(""), url(assets/fonts/NeueHaasGroteskDisplayPro-55Roman.ttf) format("truetype");
}

@font-face {
  font-family: Neue Haas Grotesk;
  font-style: italic;
  font-weight: 400;
  src: local(""), url(assets/fonts/NeueHaasGroteskDisplayPro-56Italic.ttf) format("truetype");
}

@font-face {
  font-family: Neue Haas Grotesk;
  font-style: normal;
  font-weight: 500;
  src: local(""), url(assets/fonts/NeueHaasGroteskDisplayPro-65Medium.ttf) format("truetype");
}

:root {
  --red: #e5332f;
  --green: #379e15;
  --green-indicator: #08c734;
  --blue: #1570a6;
  --gray: #b9b9b9;
  --white: #ffffff;
  --red-alert: #ff2c2c;
  --black: #000;
  --primary-color: var(--red);
  --border-color: #707070;
  --light-grey: #f7f7f7;
  --app-height: 100vh;
  --font-tobias: "Tobias", serif;
  --font-grotesk: "Neue Haas Grotesk", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-tobias);
}

p {
  font-family: var(--font-grotesk);
}

body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  height: 100vh;
  padding: 20px;
}

.red-title {
  font-family: var(--font-grotesk);
  font-size: 14px;
  letter-spacing: 1.12px;
  margin: 0;
  text-transform: uppercase;
  color: var(--primary-color);
}



.info-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.country-info-container {
  display: none;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
  flex: 0 1 fit-content;
}

.country-info-container.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.country-info-container h3 {
  margin: 0;
  font-size: 1.5em;
}

.country-info-container hr {
  border: none;
  border-top: 1px solid var(--light-grey);
  margin: 10px 0;
}

.country-info-container a {
  text-decoration: none;
  color: var(--black);
}

.country-info-container a:hover {
  color: var(--primary-color);
}

.map-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

object {
  width: 100%;
  height: auto;
}

.active-country {
  fill: red !important;
}

path {
  transition: 0.3s;
}

